body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 50px auto;
}

a {
    color: aquamarine;
    font-size: 16px;
}
h1 {
    color: white;
    font-size: 50px;
}

img {
    display: block;
    margin: 30px auto;

}
h2 {
    color:white;
    font-size: 42px;
    font-weight: 300;
}

h3 {
    color: grey;
    font-size: 25px;
}
footer {
    text-align: right;
    color: grey;
    margin: 20px;

}